// Mixins Here
@nav-bg-margin:10px;
@colornavsandlogo:#454A59;
@paddingnavsandlogo:20px;

//mobile mixins here
@paramatericmixin(@font-param){
    font-size:@font-param;
}
@parametricmixin2(@margin-mobile){
    margin:@margin-mobile;
}