// Mixins Here
.button-font(@fontsize,@fontcolor){
    font-size:@fontsize;
    color:@fontcolor;
}

.button(@weight){
    font-weight: @weight;
}

.buttonhover(@color,@bgcolor){
        color:@color;
        background: @bgcolor;
}
    

// //mobile mixins here



