// Mixins Here
.button-font(@fontsize,@fontcolor){
    font-size:@fontsize;
    color:@fontcolor;
}

.button(@weight){
    font-weight: @weight;
}

.buttonhover(@color,@bgcolor){
        color:@color;
        background: @bgcolor;
        border:#22283A 1px solid;
}
    

// //mobile mixins here



