// Navigation code here
.nav-logo{
    background: #F6F6F6;
    margin-left:@nav-bg-margin;
    text-align:center;
    font-size:large;
    font-family:'Ubuntu', sans-serif;
    padding:20px;
    line-height:20px;   
    nav a{
       text-decoration: none;
       color:@colornavsandlogo;
       padding:@paddingnavsandlogo;
       font-weight: bolder;
       @media (max-width:500px){
        margin:2vw;
        padding:0;
       }
    }
    h1{
        color:@colornavsandlogo;
        padding:@paddingnavsandlogo;
        font-size:40px;
    }
}
